<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lenovo.albatros">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Albatros"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mostrar_fechas"
            android:label="Horarios De Salida"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Nosotros" />
        <activity android:name=".Camiones" />
        <activity android:name=".Paqueteria" />
        <activity android:name=".asiento" />
        <activity android:name=".Mostrar_datos"></activity>
    </application>

</manifest>